header,footer{
    width: 100%;
    padding: 10px;
    margin-left: 0;
    text-align: center;
    background-color: rgb(11,37,54);
    color: white;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'ABeeZee';
}

ul{
    list-style-type:none;
    padding-left: 0;
    padding-right: 15%;
}

div h3{
    margin: 0;
}

ul hr{
    background-color: rgb(236, 234, 234);
}

.main{
    padding: 10px 5% 5% 5%;
}

.flexbox{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    justify-content: space-between;
}

#category{
    float: left;
    width: 30%;
}

#sub{
    float: right;
    width: 30%;
}

.news{
    display: flex;
    flex-direction: row;
}

.continue{
    background-color: rgb(225, 74, 23);
    color: white;
    padding: 10px;
    border: 0;
}

.image{
    text-align: center;
    display: flex;
}

select{
    margin-top: 10px; 
    width: 70%; 
    height: 30px;
}

input{
    margin-top: 10px; 
    width: 67%; 
    height: 30px; 
    border-width: 1px; 
    padding: 0;
}

#subscribe{
    background-color: rgb(10, 10, 10);
    color: white;
    width: 30%; 
    height: 30px; 
    border: 0;
}

.description{
    font-size: small;
    margin-top: 5px;
}

@media screen and (max-width:768px){
    .news{
        display: flex;
        flex-direction: column;
    }

    .image{
        width: 100%;
    }
}

@media screen and (max-width:576px){
    .flexbox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 1rem;
        margin-left: 0%;
        padding-left: 1rem;
    }

    .flexbox :nth-child(1) { order: 1; }
    .flexbox :nth-child(2) { order: 3; }
    .flexbox :nth-child(3) { order: 2; }

    .main{
        padding: 0% 2% 2% 2%;
    }

    #subscribe{
        width: auto;
    }

    select{
        width: auto;
    }

    input{
        width: auto;
    }
}


